
<h1><%= link_to("view more albums", media_path(media_type: 'albums'), method: :get) %></h1>
<h1><%= link_to("view more books", media_path(media_type: 'books'), method: :get) %></h1>
<h1><%= link_to("view more movies", media_path(media_type: 'movies'), method: :get) %></h1>


<h1 class= "tops"> Top Movies Top Books Top Albums </h1>


<h1><%# link_to("View More #{i.media_type}", items, method: :get) %></h1>
