<h1>Ranking of the best everything</h1>
<h1><%= link_to("Home", root_path, method: :get) %></h1>
<h1><%= link_to("view more albums", albums_path, method: :get) %></h1>
<h1><%= link_to("view more books", books_path, method: :get) %></h1>
<h1><%= link_to("view more movies", movies_path, method: :get) %></h1>
